/node_modules
/dist
**/dist
**/esm
/script
.eslintrc.js
/playground
rollup.config.js
rollup.base.config.js
commitlint.config.js
/packages/manager
/packages/server
/packages/server_consumer
/packages/server_producer
/packages/cli
